{% extends "base.html" %}
{% block content %}

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>LavaLab Application Review
            <p class="lead">Fall 2016</p>
          </h1>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec0">basic info</a></li>
          <li><a href="#sec1">short answers</a></li>
          <li><a href="#sec2">long answers</a></li>
          <li><a href="#sec3">rating</a></li>
          <li><a href="#sec4">submit</a></li>
        </ul>
      </div><!--/left-->
      
      <!--right-->
      <div class="col-md-9">
        <h1 id="sec0">{{ fullName }}</h1>
        <div class="row">
          <div class="col-md-6">
		        <p>Email: {{ email }}</p>
		        <p>USCID: {{ uscId }}</p>
		        <p>Major: {{ major }}</p>
		        <p>Minor: {{ minor }}</p>
		        <p>Grad Year: {{ gradYear }}</p>
		        <p>Available for our Tuesday meetings: {{ available }}</p>
		    </div>
          <div class="col-md-6">
		        <p><a href="{{ resume }}">Resume</a></p>
		        <p><a href="{{ portfolio }}">Portfolio / Github</a></p>
		        <p>{{ joke }}</p>
		    </div>
		</div>
        <hr>        
        <h2 id="sec1">Short Answers</h2>
        <div class="row">
          <div class="col-md-6">
	        <p>
	            <strong>{{ roleView }}</strong>
	            <br/>
	            <br/>
	            <strong>Any other roles?</strong>
	            <br/>
	            {{ otherRole }}
	            <br/>
	            <br/>
	            <strong>Desired Outcome of LavaLab</strong>
	            <br/>
	            {{ desiredOutcome }}
	            <br/>
	            <br/>
	            <strong>Contribution to team:</strong>
	            <br/>
	            {{ contribution }}
	            <br/>
	            <br/>
	            <strong>Recent Projects:</strong>
	            <br/>
	            {{ recentProj }}
	            <br/>
	            <br/>
	            <strong>Other Organizations:</strong>
	            <br/>
	            {{ otherOrg }}
	        </p>
	      </div>
          <div class="col-md-6">
	        <p>
	            <strong>Software Development Tools:</strong>
	            <br/>
	            {{ devToolsSoft }}
	            <br/>
	            <br/>
	            <strong>Hardware Development Tools:</strong>
	            <br/>
	            {{ devToolsHard }}
	            <br/>
	            <br/>
	            <strong>Design Tools:</strong>
	            <br/>
	            {{ designTools }}
	            <br/>
	            <br/>
	            <strong>Other Tools:</strong>
	            <br/>
	            {{ otherTools }}
	        </p>
	      </div>
        </div>
        <hr>        
        <h2 id="sec2">Long Answers</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>What's a daily problem?</h3></div>
              <div class="panel-body">{{ dailyProb }}
              </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>What excites you in tech?</h3></div>
              <div class="panel-body">{{ dailyProb }}
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>What do you look forward to?</h3></div>
              <div class="panel-body">{{ whatWork }}
              </div>
            </div>
        </div>
	    </div>
        
        <hr>
        <div class="col-md-9">
        <h1 id="sec3">Rating / Review</h1>
        <div class="row">
          <div class="col-md-12">
		        <form action="/review/" method="post">
		        <p>
		        	<strong>
		        		Rate the following 1-5.
		        	</strong>
		        </p>
		        <p>
		        	A rating of 5 indicates that the applicant completely exceeds the written statement. A rating of 1 indicates that it is completely false.
		        </p>
		        <hr>
		        <p>
		        	This applicant is relentlessly determined and would not get demoralized easily. They'd be willing to do the nitty gritty to get their shit done.
		        	<br/>
		        	<div class="row">
			        	<div class="col-md-2">
				        	<input id="determined" value="{{ dedicationRating }}"  name="determined" type="text" placeholder="3" class="form-control input-md" maxlength="1">
				        </div>
			       </div>
		        </p>
		        <hr>
		        <p>
		        	This applicant is resourceful and will execute despite ambiguity. They will work with others and suprise teammates with <i>perceived</i> expertise because of their resourcefulness.
		           	<br/>
		        	<div class="row">
			        	<div class="col-md-2">
				        	<input id="resourceful" value="{{ resourcefulRating }}"  name="resourceful" type="text" placeholder="3" class="form-control input-md" maxlength="1">
				        </div>
			       </div>
		        </p>
		        <hr>
		        <p>
		        	{{ fullName }} is incredibly experienced and would be able to produce amazing things.
		           	<br/>
		        	<div class="row">
			        	<div class="col-md-2">
				        	<input id="experienced" value="{{ experienceRating }}"  name="experienced" type="text" placeholder="3" class="form-control input-md" maxlength="1">
				        </div>
			       </div>
		        </p>
		        <hr>
		        <p>
		        	They're imaginative and can think outside the box. Not just "uber for x" or "tinder for y."
		           	<br/>
		        	<div class="row">
			        	<div class="col-md-2">
				        	<input id="imaginative" value="{{ imaginationRating }}"  name="imaginative" type="text" placeholder="3" class="form-control input-md" maxlength="1">
				        </div>
			       </div>
		        </p>
		        <hr>
		        <p>
		        	The applicant is <strong>naughty</strong>. They'll find loopholes and hack the system. This goes hand-in-hand with resourcefulness. They'll see a company without internship positions, apply as a consultant, and convince the recruiting team to hire them full time. They'll teach a class at USC as a sophomore. They know their value and know how to use it.
		           	<br/>
		        	<div class="row">
			        	<div class="col-md-2">
				        	<input id="naughty" value="{{ naughtyRating }}" name="naughty" type="text" placeholder="3" class="form-control input-md" maxlength="1">
				        </div>
			       </div>
		        </p>
		        <hr>
		        <p>
		        	<strong>Final Notes</strong>
		        	<textarea class="form-control" id="final" name="final">{{ notes }}</textarea>
		        	<br/>
		        	{% if not final %}
		        	<strong>Your Decision</strong>
	        	    <select id="finalDec" name="finalDec" class="form-control">
						<option selected disabled hidden style='display: none' value=''></option>
						<option value="SY">Strong Yes</option>
						<option value="Y">Yes</option>
						<option value="M">Meh</option>
						<option value="N">No</option>
						<option value="F">Da Fuq</option>
					</select>
					{% else %}
					<strong>Previously decided as: {{ final }}</strong>
					<br/>
					{% endif %}
					<br/>
					<strong>Your Name</strong>
					<input id="annotator" name="annotator" type="text" class="form-control input-md" maxlength="10" value="{{ annotator }}">
					<br/>
					<br/>
					<hr>
		    </div>
		</div>
        <div class="col-md-9">
	        <h1 id="sec4">Submit</h1>
	        <div class="row">
				<div class="col-md-12">
					<br/>
					<input type="hidden" value="{{ email }}" id="applicantEmail" name="applicantEmail">
					<input type="submit" class="btn btn-secondary"></input>
					<br/>
					<br/>
					<p>
						Pressing Save will save these notes and take you to the next application. We can only edit again in the backend, so be sure you're ready!
					</p>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		</form>
        
        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->

{% endblock %}
